APP_NAME="Quenza CMS"
APP_ENV=local
APP_DEBUG=true
APP_URL="http://localhost"
QZ_RUNTIME=auto
APP_TIMEZONE="Asia/Jakarta"
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
SESSION_NAME=QUENZASESSID

DB_DRIVER=sqlite
DB_SQLITE_PATH=storage/database/quenza.db
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=quenza_cms
DB_USERNAME=quenza_cms
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_PREFIX=qz_
QZ_PUBLIC_SCHEME=http
QZ_PUBLIC_HOST=localhost
QZ_DOCKER_APP_PUBLIC_PORT=80
QZ_DOCKER_APP_INTERNAL_PORT=80
QZ_DOCKER_DB_PUBLISHED_PORT=3306

QZ_ACTIVE_THEME=quenza_default
QZ_ADMIN_NAME=
QZ_ADMIN_USERNAME=
QZ_ADMIN_EMAIL=
QZ_ADMIN_PASSWORD=
