APP_NAME="Quenza CMS"
APP_ENV=local
APP_DEBUG=true
APP_URL="http://localhost:8080"
APP_TIMEZONE="Asia/Jakarta"
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
SESSION_NAME=QUENZASESSID

APP_PORT=8080
DB_FORWARD_PORT=3306

DB_DRIVER=sqlite
DB_SQLITE_PATH=/var/www/html/storage/database/quenza.db
DB_DATABASE=quenza_cms
DB_USERNAME=quenza
DB_PASSWORD=quenza_secret
DB_CHARSET=utf8mb4
DB_PREFIX=qz_
MYSQL_ROOT_PASSWORD=quenza_root_change_me

QZ_ACTIVE_THEME=quenza_default
QZ_ADMIN_NAME=
QZ_ADMIN_EMAIL=
QZ_ADMIN_PASSWORD=
