APP_NAME="Quenza CMS"
APP_ENV=local
APP_DEBUG=true
APP_URL="http://localhost"
APP_TIMEZONE="Asia/Jakarta"
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
SESSION_NAME=QUENZASESSID

DB_DRIVER=sqlite
DB_SQLITE_PATH=storage/database/quenza.db
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=quenza_cms
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_PREFIX=qz_

QZ_ACTIVE_THEME=quenza_default
QZ_ADMIN_NAME=
QZ_ADMIN_EMAIL=
QZ_ADMIN_PASSWORD=
