/vendor/
/.phpunit.cache/
/.env
/storage/logs/*
!/storage/logs/.gitignore
/storage/cache/*
!/storage/cache/.gitignore
!/storage/cache/htmlpurifier/
/storage/cache/htmlpurifier/*
!/storage/cache/htmlpurifier/.gitignore
/storage/database/*
!/storage/database/.gitignore
/storage/system/*
!/storage/system/.gitignore
/storage/uploads/*
!/storage/uploads/.gitignore
!/storage/uploads/.htaccess
!/storage/uploads/web.config
/node_modules/
/playwright-report/
/test-results/
/.playwright-tmp/
